<div id="menu">
  <table class="default-table">
    <tr>
      <td>
        {{menu-button img="img/github.svg" onClick=(action 'github')}}
      </td>
      <td>
        {{menu-button img="img/linkedin.svg" onClick=(action 'linkedin')}}
      </td>
      <td>
        {{menu-button img="img/contact.svg" onClick=(action 'contact')}}
      </td>
      <td>
        {{menu-button img="img/print.svg" onClick=(action 'print')}}
      </td>
    </tr>
  </table>
</div>
