<td class="position_time"
data-test="on-element"
data-tooltip-effect-class="none"
data-tooltip-spacing="5"
data-tooltip-type-class="date"
data-tooltip-content="{{moment-format details.startDate 'DD MMM YYYY'}} - {{moment-format details.endDate 'DD MMM YYYY'}}">({{details.timePeriod}})</td>
