<div class="section_icon_box">
  <img class="section_icon" src={{img}} height={{imgHeight}} alt={{section}}>
</div>
<div class="section_header_box default-border">
  <div class="section_header_text default-border-bold">{{section}}</div>
</div>
