div.category_comment {
  font-size: $normal-font-size;
  color: $timeperiod-color;
}

table.positions {
  margin-bottom: -1px;

  tr {
    font-size: $normal-font-size;
    color: $text-color;

    td.position_name {
      padding: 0;
    }

    td.position_time {
      padding-left: 3mm;
    }
  }
}

div.responsibilities {
  display: inline-block;
  margin-bottom: 3.5mm;
  padding-top: 0.5mm;
  border-top: 1px solid $graphic-elements-color;
  font-size: $small-font-size;
  color: $text-color;
  text-align: justify;
}
